In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/data_raw.csv", sep=";")

In [3]:
df.shape

(2396, 4)

In [4]:
df.head()

,artista,musica,letra,lang
0,Dua Lipa,Levitating (feat. DaBaby),"[DaBaby:]\nBillboard Baby, Dua Lipa make 'em d...",2
1,Dua Lipa,Don't Start Now,"If you don't wanna see me\n\nDid a full 180, c...",2
2,Dua Lipa,Break My Heart,I've always been the one to say the first good...,2
3,Dua Lipa,Levitating,If you wanna run away with me\nI know a galaxy...,2
4,Dua Lipa,New Rules,Talkin' in my sleep at night\nMakin' myself cr...,2

In [5]:
df.value_counts("artista")

artista
Zezé Di Camargo e Luciano    25
Henrique e Juliano           25
Ed Sheeran                   25
Elton John                   25
Elvis Presley                25
                             ..
-M- (Mathieu Chedid)         16
Friends                      14
Billie Eilish                13
Harry Styles                  9
Lewis Capaldi                 9
Length: 99, dtype: int64

In [6]:
df["artista"].sort_values().unique()

array(['-M- (Mathieu Chedid)', 'Adele', 'Aerosmith', 'Alicia Keys',
       'Aline Barros', 'Anavitória', 'Anitta', 'Ariana Grande',
       'Avril Lavigne', 'BTS', 'Backstreet Boys', 'Beyoncé',
       'Billie Eilish', 'Black Eyed Peas', 'Bob Marley', 'Bon Jovi',
       'Bruno Mars', 'Bruno e Marrone', 'Caetano Veloso',
       'Charlie Brown Jr', 'Christina Perri', 'Coldplay',
       'Corinhos Evangélicos', 'Demi Lovato', 'Drake', 'Dua Lipa',
       'Ed Sheeran', 'Elton John', 'Elvis Presley', 'Eminem',
       'Fernandinho', 'Friends', 'Gilberto Gil', "Guns N' Roses",
       'Gusttavo Lima', 'Harpa Cristã', 'Harry Styles',
       'Henrique e Juliano', 'Hinos', 'Imagine Dragons',
       "Israel Kamakawiwo'ole", 'James Arthur', 'Jason Mraz',
       'John Legend', 'John Lennon', 'John Mayer', 'Jorge e Mateus',
       'Justin Bieber', 'Justin Timberlake', 'Katy Perry', 'Lady Gaga',
       'Lana Del Rey', 'Legião Urbana', 'Lewis Capaldi', 'Linkin Park',
       'Luan Santana', 'Manu Gavassi', 'Maroon 5', 'Marília Mendonça',
       'Melim', 'Metallica', 'Michael Jackson', 'Miley Cyrus',
       'Músicas Católicas', 'Músicas Gospel', 'Nirvana', 'Now United',
       'Oasis', 'One Direction', 'OneRepublic', 'Pabllo Vittar',
       'Padre Zezinho', 'Pearl Jam', 'Pineapple', 'Pink', 'Pink Floyd',
       'Post Malone', 'Queen', "Racionais Mc's", 'Rammstein',
       'Raul Seixas', 'Raça Negra', 'Red Hot Chili Peppers', 'Rihanna',
       'Roberto Carlos', 'Rod Stewart', 'Sam Smith', 'Scorpions',
       'Selena Gomez', 'Shakira', 'Shawn Mendes', 'Sia', 'Sorriso Maroto',
       'Taylor Swift', 'The Beatles', 'The Weeknd', 'U2',
       'Whitney Houston', 'Zezé Di Camargo e Luciano'], dtype=object)

In [7]:
df["lang"].value_counts()

2    1556
1     739
3      32
5      24
9      22
4      16
8       7
Name: lang, dtype: int64

---

Create a unique artist tag and add is to each new paragraph on the lyrics. 
This should guide the song writing by the model.

In [8]:
def get_artist_tag(artist_name):
    return "x_" + ''.join([w[:2] + w[-2:] for w in artist_name.lower().split(" ")]) + "_x"

In [9]:
# df["artist_tag"] = df["artista"].apply(lambda x: "xx_" + x.lower().replace(" ", "_") + "_xx")
df["artist_tag"] = df["artista"].apply(
    lambda x: get_artist_tag(x)
)

In [10]:
# there is one conflict
df["artist_tag"].nunique()

99

In [11]:
df["artist_lyrics"] = df.apply(
    lambda x: [x["artist_tag"] + " " + phrase for phrase in x["letra"].split("\n") if len(phrase) > 3], 
    axis=1
)

In [15]:
df["clean_lyrics"] = df["letra"].apply(lambda x: [phrase for phrase in x.split("\n") if len(phrase) > 3])

In [16]:
df.sample(5)

,artista,musica,letra,lang,artist_tag,artist_lyrics,clean_lyrics
1923,Selena Gomez,Vulnerable,If I give you every piece of me\nI know that y...,2,x_senagoez_x,"[x_senagoez_x If I give you every piece of me,...","[If I give you every piece of me, I know that ..."
31,Ed Sheeran,Give Me Love,Give me love like her\n'Cause lately I've been...,2,x_ededshan_x,"[x_ededshan_x Give me love like her, x_ededsha...","[Give me love like her, 'Cause lately I've bee..."
1072,Músicas Gospel,Até Tocar o Céu,Até tocar o Céu\nAté tocar o Céu\nVou te busca...,1,x_múasgoel_x,"[x_múasgoel_x Até tocar o Céu, x_múasgoel_x At...","[Até tocar o Céu, Até tocar o Céu, Vou te busc..."
1234,Red Hot Chili Peppers,Encore,Listen to the beatles\nAnd the sound of laughi...,2,x_reedhootchlipers_x,"[x_reedhootchlipers_x Listen to the beatles, x...","[Listen to the beatles, And the sound of laugh..."
246,Guns N' Roses,Civil War,"""What we've got here is failure to comunicate\...",2,x_gunsn'n'roes_x,"[x_gunsn'n'roes_x ""What we've got here is fail...","[""What we've got here is failure to comunicate..."

In [17]:
lyrics_phrase = pd.Series([l for lyrics in df.query("lang == 2")["artist_lyrics"] for l in lyrics], name="text")
clean_lyrics_phrase = pd.Series([l for lyrics in df.query("lang == 2")["clean_lyrics"] for l in lyrics], name="text")

In [18]:
df.to_csv("../data/lyrics_processed.csv", sep=";", index=False)

lyrics_phrase.to_csv("../data/lyrics_phrase_eng.csv", sep=";", index=False)
clean_lyrics_phrase.to_csv("../data/clean_lyrics_phrase_eng.csv", sep=";", index=False)

In [19]:
lyrics_phrase = pd.Series([l for lyrics in df.query("lang == 1")["artist_lyrics"] for l in lyrics], name="text")
clean_lyrics_phrase = pd.Series([l for lyrics in df.query("lang == 1")["clean_lyrics"] for l in lyrics], name="text")

In [20]:
lyrics_phrase.to_csv("../data/lyrics_phrase_pt.csv", sep=";", index=False)
clean_lyrics_phrase.to_csv("../data/clean_lyrics_phrase_pt.csv", sep=";", index=False)